In [1]:
name = "Bahubali"
for i in name:
    print(i)

B
a
h
u
b
a
l
i

In [15]:
name = "Bahubali"
       #01234567
for i in range(len(name)-1,3,-1):
    print(name[i])

i
l
a
b

In [18]:
for i in range(-1,-len(name)-1,-1): 
    print(i)
    print(name[i])

# li = [90,23,43,54]
# for i in range(2,len(li),1):
#     print(li[i])

-1
i
-2
l
-3
a
-4
b
-5
u
-6
h
-7
a
-8
B

In [19]:
#strings and lists

name = "Bahubali" #  8 
       #01234567
       #-8-7-6-5-4-3-2-1 
print(name[0])
print(name[7])
print(name[-1])


#lists 

li = [89,90,12,23,34,123]
print(li[-1])

B
i
i
123

In [22]:
# for i in range(0,len(name),1):
#     print(name[i])
    
# print(name[0:len(name):1])

#Bahubali
#01234567

B
a
h
u
b
a
l
i
Bahubali
Bahu

In [24]:
#string[start:end:step]
print(name[:4:2])  #02
                   #Bh

Bh

In [41]:
#string[start:end:step]

print(name[0:len(name):1]) #01234567
print(name[::-1]) 

#palindrome
#name if yes -> 'palindrome' if not 'no'
#name  == reverse
#malayalam == malayalam

name = input('enter the name') 
if(name == name[::-1]):   
    print("it's a palindrome")
else:
    print("not a palindrome")

enter the name bahubali

not a palindrome

In [46]:
li = [12,32,43,21,10]
print(li[2:4:])

[43, 21]